<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qexpress.mike"
    android:versionCode="16"
    android:versionName="1.16" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smartphone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.qexpress.mike.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qexpress.mike.EnterMobileNumber"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.qexpress.mike.GetInLine"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
         <activity
            android:name="com.qexpress.mike.DisplayMessage"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.qexpress.mike.ReleaseTicket"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity android:name="com.qexpress.mike.DisplayQueueStatus" 
            android:parentActivityName="com.qexpress.mike.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.qexpress.mike.MainActivity" />
        </activity>
        <!-- Single List Item Activity -->
        <activity
            android:name="com.qexpress.mike.SingleContactActivity"
            android:label="Contact" />
    </application>

</manifest>